html {
	font-family: sans-serif;
	font-size: 11pt;
}
a {
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
fieldset {
	border: 0;
}
#header h1 {
	height: 60px;
	background: transparent url('../img/djiki-logo.png') 100% 0 no-repeat;
}
	#header h1 a {
		display: block;
		height: 60px;
		min-width: 46px;
	}
		#header h1 a span {
			display: none;
		}
	#header .desc {
		margin-top: 60px;
		font-style: italic;
	}
.djiki {
}
	.djiki .actions {
	}
		.djiki .actions ul {
			list-style-type: none;
			margin: 0 10px 0 10px;
			padding: 0;
			float: right;
		}
			.djiki .actions ul li {
				display: inline;
				border-left: 1px solid lightGray;
				border-top: 1px solid lightGray;
				border-right: 1px solid lightGray;
			}
				.djiki .actions ul li a {
					padding: 3px 10px;
				}
	.djiki .page {
		border: 1px solid lightGray;
	}
		.djiki .page .content {
			margin: 10px;
		}
		.djiki .page .editForm fieldset {
			margin: 0;
			padding: 0;
		}
			.djiki .page .editForm fieldset .label {
				text-align: right;
			}
				.djiki .page .editForm fieldset .label label {
					font-weight: bold;
				}
			.djiki .page .editForm fieldset .field input,
			.djiki .page .editForm fieldset .field textarea {
				width: 840px;
			}
			.djiki .page .editForm fieldset .field textarea {
				min-height: 360px;
			}
			.djiki .page .editForm .buttons {
				padding: 10px 0;
			}
				.djiki .page .editForm .buttons button.save {
					font-weight: bold;
				}

#messages ul {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0 15px;
}
	#messages ul li {
		border-width: 1px 1px 1px 5px;
		border-style: solid;
		border-color: #8f8;
		background-color: #efe;
		margin: 3px 0;
		padding: 5px 10px;
	}
		#messages ul li.warning {
			background-color: #fee;
			border-color: #f88;
		}

.help_text {
	font-size: 75%;
	color: #444;
}

/* styles for history screen */
.djiki .page.history .content table {
	border-collapse: collapse;
}
	.djiki .page.history .content table tr {
	}
		.djiki .page.history .content table th, .djiki .page.history .content table td {
			padding: 1px 10px;
			border: 1px solid #eee;
		}

.djiki .page.diff .content .diff {
	padding: 10px 20px;
	background-color: #eee;
}
	.djiki .page.diff .content .diff .added {
		background-color: #8f8;
	}
	.djiki .page.diff .content .diff .removed {
		background-color: #f88;
	}

/* styles used inside the page contents - might me moved to a separate file */
.djiki .page .content .image {
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
	margin: 10px 0;
	padding: 3px;
	float: left;
}
.djiki .page .content .image.with_size,
.djiki .page .content .image.external {
	margin-right: 10px;
}
	.djiki .page .content .image .title {
		margin: 5px 0;
		padding: 0;
		font-size: 80%;
	}
