html {
	font-family: sans-serif;
	font-size: 11pt;
}
a {
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
fieldset {
	border: 0;
}
#header h1 {
	height: 60px;
	background: transparent url('../img/djiki-logo.png') 100% 0 no-repeat;
}
	#header h1 a {
		display: block;
		height: 60px;
		min-width: 46px;
	}
		#header h1 a span {
			display: none;
		}
	#header .desc {
		margin-top: 60px;
		font-style: italic;
	}
.djiki {
}
	.djiki .actions {
	}
		.djiki .actions ul {
			list-style-type: none;
			margin: 0 10px 0 10px;
			padding: 0;
			float: right;
		}
			.djiki .actions ul li {
				display: inline;
				border-left: 1px solid lightGray;
				border-top: 1px solid lightGray;
				border-right: 1px solid lightGray;
			}
				.djiki .actions ul li a {
					padding: 3px 10px;
				}
	.djiki .page {
		border: 1px solid lightGray;
	}
		.djiki .page .content {
			margin: 10px;
		}

.notice {
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: gray;
	padding: 5px 10px;
}

.notice.warning {
	background-color: #fee;
	border-color: #f88;
}

/* styles used inside the page contents - might me moved to a separate file */
.djiki .page .content .image {
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
	margin: 10px 0;
	padding: 3px;
	float: left;
}
	.djiki .page .content .image .title {
		margin: 5px 0;
		padding: 0;
		font-size: 80%;
	}
