{% extends 'djiki/base.html' %}
{% load i18n djiki_tags %}
{% block title %}{% trans "Image" %}: {{ image.name }} | {{ block.super }}{% endblock %}
{% block djiki_actions %}
<ul>
  <li><a href="{% url 'djiki-image-view' image.name|urlize_title %}">{% trans "Image" %}</a></li>
  <li><a href="{% url 'djiki-image-edit' image.name|urlize_title %}" rel="nofollow">{% trans "Edit image" %}</a></li>
  <li><a href="{% url 'djiki-image-history' image.name|urlize_title %}" rel="nofollow">{% trans "History" %}</a></li>
  <li><a href="{% url 'djiki-image-new' %}" rel="nofollow">{% trans "Upload" %}</a></li>
</ul>
<div class="clear"></div>
{% endblock %}
