{% extends 'djiki/base.html' %}
{% load i18n %}
{% block title %}{% trans "New image" %}: {{ block.super }}{% endblock %}
{% block djiki_main %}
<div class="djiki-image djiki-image--edit">
  <div class="djiki-image-content djiki-image-content--preview">
    <h1 class="djiki-image-name">{% if form.image %}{{ form.image.name }}{% else %}{% trans "New image" %}{% endif %}</h1>
    <form enctype="multipart/form-data" method="post" action="" class="form form-horizontal djiki-form djiki-form--image-upload">
      <fieldset>{% csrf_token %}
        {{ form.as_p }}
      </fieldset>
      <div class="djiki-form-buttons">
        <button type="submit">{% trans "Save" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
