<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% comment %}

This is an example template. It's being used on a live site, http://djiki.info
which is the Djiki homepage.

Feel free to replace it with anything you like.

{% endcomment %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Djiki{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://github.com/nathansmith/960-Grid-System/raw/master/code/css/960.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/styles.css" />
</head>
<body>
	<div id="header" class="container_12">
		<div class="grid_1">
			<h1><a href="/"><span>Djiki</span></a></h1>
		</div>
		<div class="grid_11">
			<p class="desc">— a Wiki engine for Django</p>
		</div>
	</div>
	{% block messages %}
	{% if messages %}
	<div id="messages" class="container_12">
		<div class="grid_12">
			<ul>
				{% for msg in messages %}
				<li class="{{ msg.tags }}">{{ msg|safe }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	{% endblock %}
{% block page %}{% endblock %}
{% block google-analytics %}
{% if GOOGLE_ANALYTICS_ID %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
{% endblock %}
</body>
</html>

